<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterBox</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body class = "tanBackground">
    <div class = "left"></div>
    <div class = "right"></div>

     
    <header class = "headerTop">
    
    <nav>
        <div>
        <a href="/login">login</a>
        <p>/</p>
        <button id = "logout" class = "">logout</button> 
      </div>
      <h1>
        <a href="/" class = "chatterBoxLogo" >
        <img src="/assets/logoTan.png">ChatterBox</a>
      </h1>
    </nav>
     
     
     
    </header>

    <main >
      {{{ body }}}
    </main>
<script src= "/javascript/logout.js"></script>
</body>
 
</html>