<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatterBox</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>

<body class = "tanBackground">
    <div class = "left"></div>
    <div class = "right"></div>
    

    <header>
      <h1>
        <a class = "chatterBoxLogo" href="/">ChatterBox</a>
      </h1>
        <div class = "hub">
            <div class = "searchAndPost">
                <input type="text" name="" id="feelingToday" placeholder="How are you feeling today?"><br>
                <div class = "searcher">
                    <img src="../assets/searchIcon.png"> 
                    <input type="text" name="" id="searchFor" placeholder="Search">
                </div>
            </div>
            <div class="notification">
                <button><span></span>Home</button>
                <button><span></span>Followers</button>
                <button><span></span>Chatters</button>
            </div>
        </div>  
      <div class = "stories">

      </div>
    </header>

    <main >
      {{{ body }}}
    </main>

    <footer>
    </footer>

  </div>

</body>

</html>