@font-face {
  font-family: 'Avenir LT Std Black';
  src: url('AvenirLTStd-Black.woff2') format('woff2'),
      url('AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('AvenirLTStd-Roman.woff2') format('woff2'),
      url('AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* a{
text-decoration: none;
}
* {
  font-family: 'Avenir LT Std';
  /*box-sizing: border-box;*/
}


.tanBackground{
  background-color: #C7B299;
  border-top: white solid 25px;
  
}
.left{
  position: fixed;
  top: 0;
  left: 0;
  border-left: white 25px solid;
  /*border-right: #C7B299 100px solid;*/
  height: 100%;

  }
  .right{
    position: fixed;
    top: 0;
    right: 0;
    border-right: white 25px solid;
    /*border-left: #C7B299 100px solid;*/
    height: 100%;
    }
    
.header{
  background-color: #ece6e1;
  color: #C7B299;
  
}
.headerTop{
  background-color: #eedbcc;
  color: #C7B299;

}
.hub{
  /*background-color: #C7B299;*/
  display: flex;
  justify-content: space-between;
  border-bottom: #E6E6E6 solid 20px;
  margin-bottom: -15px;
  overflow:hidden;

}
.notification{
  display: flex;
  align-items: flex-end;
  margin-right: 50px;
  margin-top: 85px;
}
.notification button{
  font-size: 15px;
  color: #C7B299;
  background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 20px;
  margin-top: 5px;
}

.chatterBoxLogo{
  text-decoration: none;
  color: #C7B299;
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  font-size: 40px;
}
.chatterBoxLogo img{
  height: 30px;
  width: auto;
  margin-top: 10px;
  margin-right: 10px;
}
.kraft{
position: relative;
top: 505px;
right: 22px;
height: 350px;
width: auto;
z-index: -999;
margin-top: -400px;

}

.searchAndPost{
  /*background-color: #C7B299;*/
  height: 130px;
  margin-top: 10px;
  
}
.inputContent {
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: #C7B299;
  padding: 10px;
  margin-left: 40px;
  /*border-right: none;
  border-top: none;*/

}
#feelingToday{
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: #C7B299;
  padding: 10px;
  margin-left: 40px;
  color: white;
  text-align: start;
  width: 425px;
  margin-top: 10px;
  outline: none;
  padding-left: 15px;
  /*border-right: none;
  border-top: none;*/
}

/*.feelings {
    position:relative;
    bottom: 200px;    
    z-index: -1;
    height: auto;
    width: 100%;
    bottom: 400px;
    margin-bottom: -250px;
    
}*/


.inputContent::placeholder{
  color: white;
}

#searchFor{
  width: 180px;
  height: 20px;
  margin-top: 20px;
  outline: none;
  padding-left: 45px;
  position: absolute;
  left: 0px;
}

.searcher img{
  width: 4%;
  height: 4%;
  position: relative;
  left: 55px;
  top:33px;
  z-index: 1;
  
  
}

.stories{
  height: 150px;
  background-color: white;
}
.main{
  display: flex;
  justify-content: center;
  margin-top: -100px;

}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Avenir LT Std Black';
  
}
body{
  background-image: url("../assets/Kraft-Paper-Texture-long.png");
  background-repeat: repeat-x;
  z-index: -999;

}

.letterBox{
  height: 130%;
  margin-top: 30px;
  padding-bottom: 13px;
  object-fit: cover;

}
.post {
  width: 250px;
  height: 250px;
  line-height: 150%;
  color: white;
  margin-bottom: -200px;
}
.post_items{
  position: relative;
  left: 80px;
  font-size: 15px;
  width: 225px;
  
  bottom: 300px;
  
}
.content{
  word-break:break-all;
}
.username{
font-size: 30px;
margin-bottom: 20px;
}
.createdAt{
  position: relative;
  bottom: 160px;
  left: 80px;
  font-size: 15px;
  width: 225px;
}
.likeReply{
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 100px;
  border: white solid 2px;
  left: 2px;
  width: 330px;
  font-size: 13px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: -80px;
  
}


.likeReply a{
background-color: white;
text-decoration: none;
color: #C7B299;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
position: relative;
left: 15px;
/*border-left: white solid 2px;*/

}
.line{
  border-bottom: white solid 2px;
  position: relative;
  bottom: 120px;
  left: 3px;
  width: 360px;
}
.border{
background-color: white;
width: 2px;
height: 30px;
}
.profilePic img{
  /*background-color: teal;*/
  height: 125px;
  width: 125px;
  position:relative;
  top: 275px;
  right: 60px;
  border-radius: 75px;
  object-fit: cover;
  /*object-position: 100% 25%;*/

}
.bottomPost{
  position: relative;
  top:70px;
  height: 0px;
}
.buttonLogo{
display: flex;
flex-direction: column;
align-items: center;
margin-right: 50px;
}
.buttonLogo img{
  height: 20px;
  width: auto;
}
/******************************/
/******************************/
/*login info*/
.login-form{
  margin-left: 75px;
  margin-top: 30px;
  
}
.signup-form{
  margin-left: 75px;
  
}
.login-form input{
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: #C7B299;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  width: 300px;
  
  
}
.signup-form input{
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: #C7B299;
  margin-bottom: 20px;
  padding: 10px;
  outline: none;
  width: 300px;
}

.whiteOut button{
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: white;
  color:#C7B299;
  margin-bottom: 20px;
  padding: 10px;
  font: inherit;
	cursor: pointer;
	outline: inherit;
  width:160px;
  text-align: start;
} 
.pic_upload{
  margin-left: 75px;
  margin-bottom: 20px;
  position: relative;
  bottom: 250px;
  right: 20px;
}
.pic_upload input{
  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: white;
  color:#C7B299;
  padding: 8px;
  font: inherit;
	cursor: pointer;
	outline: inherit;
  width:160px;
  text-align: start;
  /*position: relative;
  top: 10px;
  right: 20px;*/
}

input[type="file"] {

  
  opacity: 0;
}

/*********************************/
nav {
  position: relative;
  top: 65px;
  margin-left: 75px;
  text-decoration: none;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
}
nav a{
  color:#C7B299;
  margin-right: 5px ;
}
nav button{
  font-size: 30px;
  border:none;
  color:#C7B299;
  background: none;
}
nav p{
  margin: 0px;
}

/************************************/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #E6E6E6;
  /*opacity: 80%;*/
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #C7B299;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#contentForPost{
  border: none;
  display: flex;
  height: 100px;
  width: 90%;
  padding: 5px;
  color:black;
  font-size: 15px;
  /*background-color: red;*/
  }
  textarea {
    color: #C7B299;
    background-color: #E6E6E6;
    resize: none;
      }
      .contentForPost ::placeholder{
        color:#C7B299;
      }
      textarea:focus, input:focus{
        outline: 0;
      }
      .modal-content button{
        border-radius: 20px;
        /*border: white solid 2px;*/
        border:none;
        font-size: 15px;
        background-color: #C7B299;
        text-align: center;
        outline: none;
        width: 80px;
        color: white;
        padding: 10px;
      }
/********************************************/
/*********adding comments***********/
.comment-form textarea{
background: none;
border: white 2px solid; 
color: white;
/*background-color: white;*/
width: 100%;
position: relative;
right: 3px;
/*border-radius: 15px;*/
/*margin-top: 20px;*/
}
.comment-form ::placeholder{
  color:white;
  padding: 7px 5px 5px 5px;
}
.comment-form{
  margin-top: -30px;
}
.commentUploader{
  margin-bottom: 50px;
  margin-top: -40px;
  /*border-bottom: white 2px solid;*/
  border: white 2px solid;
  /*border-right: 2px solid white;
  border-right: 2px solid white;
  border-right: 2px solid white;*/

}

.parentRealText{
  display: flex;
  align-items: center; 
  margin-bottom: 10px;
}

.commentUploader .text{
  word-break:break-all;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1;
  margin-top: 25px;
  
/*margin-bottom: 10px*/
}

.comments{
  /*border: white solid 2px;*/
  margin-top: 25px;
  width: 140%;
  color:white;
  position: relative;
  left: 10px;
  margin-bottom: -100px;
  
  /*display: none;*/
}
.displayNone{
  display: none;

}

.submitUpvote button{
  background: none;
  /*border: white 2px solid; */
  border:none;
  color: white;
}
.smallProfilePic img{
  height: 50px;
  width: 50px;
  border-radius: 30px;
  position:relative;
  right: 27px;
  bottom: 18px;
  object-fit: cover;
  margin-right: -100px;
  margin-bottom: -10px;
  z-index: 999;
  /*object-position: 100% 100%;*/

}
.meta{
  position: relative;
  left: 27px;
  top: 30px;
}
/**********************************/
.searchIndex{
  /*height: 200px;*/
  height: auto; 
  width: 215px;
  color: #C7B299;
  position: absolute;
  left:40px;
  top: 290px;

  border-radius: 20px;
  border: white solid 2px;
  font-size: 15px;
  background-color: #ece6e1;
  padding: 10px;
}
.searchIndex a{
  margin-top:4px;
  margin-bottom:4px;
  display: block;
  text-decoration: none;
  color: #C7B299;
}
/**********************************/
/*.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}*/
/*
a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}


textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}*/